<div class="details">
  <button class="primary" [routerLink]="['/']">←Return</button>
  <section class="photos">
    <div class="details-photo">
      <img [src]="product?.photo">
    </div>
    <div class="details-subphotos" *ngIf="product?.subPhotos?.length">
      <div class="sub-photo" [style.background-image]="'url(' + product?.subPhotos?.[0] + ')'"></div>
      <div class="sub-photo" [style.background-image]="'url(' + product?.subPhotos?.[1] + ')'"></div>
    </div>
  </section>
  <section class="details-info">
    <h1 class="details-name">{{product?.name}} - {{product?.price}}₸ - ☆ {{product?.rating}}</h1>
    <h2 class="details-description-heading">Description</h2>
    <p class="description-p">{{product?.description}}</p>
    <div class="details-small">
      <p>Type: {{product?.type}}</p>
      <p>Country: {{product?.country}}</p>
      <p>Available units: {{product?.availableUnits}}</p>
    </div>
    <button class="kaspi"><a [href]="product?.link" target="_blank">Order on Kaspi <img src="https://companieslogo.com/img/orig/KKS.F-9d710a31.png?t=1720244492"></a></button>
    <h3>Share:</h3>
    <div *ngIf="shareLinks" class="details-share">
      <a class="telegram" [href]="shareLinks.telegram" target="_blank"></a>
      <a class="whatsapp" [href]="shareLinks.whatsapp" target="_blank"></a>
    </div>
  </section>
</div>
